* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  height: 6000px; }

h1 {
  margin: 0; }

.hero-section .hero {
  height: 100vh;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat; }
  .hero-section .hero .content2 {
    text-align: right; }
    .hero-section .hero .content2 .icons {
      margin-top: 40px; }
      .hero-section .hero .content2 .icons i {
        font-size: 20px;
        margin-right: 20px;
        cursor: pointer;
        transition: 0.16s; }
      .hero-section .hero .content2 .icons i:hover {
        color: #ffd740; }
    .hero-section .hero .content2 h1 {
      font-size: 45px;
      margin-bottom: 35px;
      margin-top: 430px;
      padding-bottom: 15px; }
    .hero-section .hero .content2 p {
      font-size: 18px;
      margin-bottom: 50px; }
    .hero-section .hero .content2 button {
      background: transparent;
      border: none;
      border-bottom: 2px solid #ffd740;
      color: #fff;
      font-size: 18px; }
  .hero-section .hero .content h2 {
    margin: 0;
    color: #ffd740;
    margin-top: 35px;
    margin-bottom: 430px; }
  .hero-section .hero .content h1 {
    font-size: 45px;
    margin-bottom: 35px;
    padding-bottom: 15px; }
  .hero-section .hero .content p {
    font-size: 18px;
    margin-bottom: 50px; }
  .hero-section .hero .content button {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #ffd740;
    font-size: 18px; }

.hero-section2 {
  background: #ffd740;
  height: 100vh; }

.what-i-can-do {
  background: #ffd740;
  color: #263238;
  padding: 100px 0; }
  .what-i-can-do h1 {
    margin-bottom: 35px;
    padding-bottom: 15px; }
  .what-i-can-do .position {
    position: relative; }
  .what-i-can-do .icons {
    position: absolute;
    bottom: 155px;
    right: 170px;
    font-size: 20px;
    color: #fff; }
    .what-i-can-do .icons i {
      margin-right: 10px;
      transition: 0.16s;
      cursor: pointer; }
    .what-i-can-do .icons i:hover {
      color: #ffd740; }
  .what-i-can-do .margin-top {
    margin-top: 35px; }

.what h1 {
  font-size: 30px;
  border-bottom: 3px solid #fff;
  width: 40%;
  padding-bottom: 15px; }

.skills {
  margin-bottom: 50px; }
  .skills .skill {
    margin-bottom: 95px; }
  .skills img {
    vertical-align: bottom;
    margin-right: 20px; }
  .skills .paragraph {
    display: inline-block; }
  .skills p {
    display: inline-block; }
  .skills h4 {
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 15px;
    font-size: 18px; }

.timeline {
  height: 618px;
  background-position: center, center;
  background-size: cover;
  position: relative;
  color: #fff; }
  .timeline .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(38, 50, 56, 0.95); }
    .timeline .overlay .content {
      padding: 100px 0; }
    .timeline .overlay .the-timeline {
      position: relative; }
    .timeline .overlay h4 {
      color: #ffd740;
      font-size: 30px;
      border-bottom: 3px solid #fff;
      width: 20%;
      padding-bottom: 15px; }
    .timeline .overlay h1 {
      position: absolute;
      left: 50%;
      color: #ffd740;
      font-size: 70px;
      transform: translate(-50%, -50%);
      padding-bottom: 15px; }
  .timeline .logo span {
    display: block;
    color: #ffd740;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 15px; }
  .timeline .logo h5 {
    margin: 0;
    margin-top: 35px;
    font-size: 20px; }
  .timeline .logo p {
    margin: 0;
    margin-top: 35px;
    font-size: 20px; }
  .timeline .logo button {
    background: transparent;
    border: none;
    color: #ffd740;
    font-size: 18px;
    margin-top: 20px; }

.testimonial {
  background: #f5f5f5; }
  .testimonial .cards {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0; }
    .testimonial .cards .card {
      display: inline-block;
      flex-basis: calc(33.333% - 20px);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      border-radius: 2px;
      margin: 10px;
      height: 200px;
      padding: 30px 17px;
      color: #7e8f97;
      cursor: pointer; }
    .testimonial .cards .card:hover {
      color: #000;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      background: #fff; }
    .testimonial .cards .card:hover span {
      color: #4861AF; }
    .testimonial .cards .card:hover i {
      color: #4861AF; }
    .testimonial .cards i {
      font-size: 20px;
      margin-bottom: 10px; }
    .testimonial .cards .date {
      display: block; }
    .testimonial .cards span {
      font-size: 18px;
      margin-right: 20px; }
    .testimonial .cards p {
      margin-top: 10px;
      line-height: 30px; }

.travel {
  background: #ffd740;
  padding: 100px 0; }
  .travel h1 {
    font-size: 30px;
    border-bottom: 3px solid #fff;
    width: 18%;
    margin-bottom: 35px;
    padding-bottom: 15px; }
  .travel .memory {
    width: 30%;
    height: 500px;
    margin-right: 3%;
    background-position: center, center;
    background-size: cover;
    position: relative;
    cursor: pointer; }
    .travel .memory .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #374246;
      opacity: 0;
      transition: 0.26s; }
    .travel .memory .overlay:hover {
      opacity: 0.8; }
      .travel .memory .overlay:hover .content {
        position: absolute;
        bottom: 30px;
        left: 30px; }
        .travel .memory .overlay:hover .content h3 {
          color: #fff;
          font-size: 24px; }
        .travel .memory .overlay:hover .content span {
          color: #fff; }
        .travel .memory .overlay:hover .content a {
          display: block;
          color: #ffd740;
          margin-top: 20px; }

.journal {
  background: #f5f5f5;
  padding: 100px 0; }
  .journal h1 {
    border-bottom: 3px solid #ffd740;
    width: 18%;
    padding-bottom: 15px;
    margin-bottom: 50px; }
  .journal .cards {
    flex-wrap: wrap; }
    .journal .cards .card {
      flex-basis: calc(33.333% - 20px);
      display: inline-block;
      background-color: #fff;
      margin: 10px;
      height: 500px; }
      .journal .cards .card img {
        width: 100%; }
    .journal .cards .paragraph h3 {
      font-size: 27px;
      font-weight: bold; }
    .journal .cards .paragraph span {
      margin-right: 25px; }
    .journal .cards .paragraph img {
      width: 15px;
      cursor: pointer;
      margin-right: 15px; }
    .journal .cards .paragraph p {
      margin-top: 20px; }

.parag {
  background: #fff;
  padding: 10px 10px;
  height: 250px; }
  .parag h3 {
    font-size: 27px;
    font-weight: bold; }
  .parag span {
    margin-right: 25px; }
  .parag img {
    width: 15px;
    cursor: pointer;
    margin-right: 15px; }
  .parag p {
    margin-top: 20px; }

.vertical {
  height: 500px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .vertical .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #374246;
    opacity: 0;
    transition: 0.26s; }
  .vertical .overlay:hover {
    opacity: 0.8; }
  .vertical .parag-img {
    padding: 10px 10px;
    color: #fff;
    height: 250px; }
    .vertical .parag-img h3 {
      font-size: 27px;
      font-weight: bold; }
    .vertical .parag-img span {
      margin-right: 25px; }
    .vertical .parag-img img {
      width: 15px;
      cursor: pointer;
      margin-right: 15px; }
    .vertical .parag-img p {
      margin-top: 20px; }
    .vertical .parag-img a {
      color: #ffd740; }

.gools {
  background-color: #ffd740;
  padding: 100px 0; }
  .gools img {
    display: flex;
    margin: auto; }
  .gools .paragraph {
    text-align: center; }

.foter {
  background-color: #263238;
  color: #fff;
  padding: 100px 0; }
  .foter h1 {
    font-weight: bold;
    font-size: 40px; }
  .foter span {
    font-weight: bold;
    color: #ffd740;
    font-size: 40px;
    margin: 0; }
  .foter h3 {
    margin: 0;
    margin-top: 7px;
    margin-bottom: 30px; }
  .foter i {
    margin-right: 30px;
    font-size: 25px;
    color: #546e7a; }
  .foter i:hover {
    color: #ffd740; }
  .foter input {
    background-color: #263238;
    border: 1px solid #4e595f;
    border-radius: 3px;
    padding: 7px 20px;
    outline: 0;
    display: block;
    margin-bottom: 25px; }
  .foter p {
    color: #546e7a; }

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  height: 6000px; }

h1 {
  margin: 0; }

.hero-section {
  position: relative;
  background-size: cover;
  background-position: center, center; }
  .hero-section .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(38, 50, 56, 0.71);
    width: 100%;
    height: 100%; }
  .hero-section .hero .content .as {
    top: 50%;
    left: 50%; }
  .hero-section .hero .content h2 {
    margin: 0; }

/*# sourceMappingURL=style.css.map */
