$primary-color: #ffd740
$lite-blue: #28c8c6


*
	box-sizing: border-box

body
	padding: 0
	margin: 0
	font-family: 'Roboto Condensed', sans-serif
	// background: red	
	height: 6000px
h1
	margin: 0


.hero-section
	position: relative
	background-size: cover
	background-position: center, center
	.overlay
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: rgba(38, 50, 56, 0.71)
		width: 100%
		height: 100%
	.hero
		.content
			.icons
				display: inline-block
				margin: 0
				float: right
				margin-top: 60px
				i
					font-size: 20px
					margin-right: 35px
					cursor: pointer
				i:hover
					color: $primary-color
			.bottom
				margin-top: 50%
				.right
					// float: right
					text-align: right
				h3
					display: inline-block
					
				img
					width: 20px



		h1
			margin: 0
			display: inline-block
			color: $primary-color
			margin-top: 35px
			span
				font-size: 20px
				color: #fff
					cursor: pointer

.hero-section .hero .content h2
	position-absolute
	top: 50%
	// left: 50%
	// transform: translate(-50%, -50%)
	font-size: 40px
	margin: 0
	color: #fff
	text-transform: uppercase
	text-align: center
	span
		font-size: 20px


// about-me

.about-me
	.padding
		padding: 100px 0
		padding-right: 25px
	p
		font-size: 18px
		a
			color: $primary-color
	h4
		color: $primary-color
		font-size: 25px
		margin-top: 35px
		margin-bottom: 35px



	.background
		background: $primary-color
		img
			width: 100%
		h1
			margin-bottom: 35px
			margin-top: 100px
			// padding-bottom: 15px
		.position
			position: relative
		.icons
			position: absolute
			bottom: 273px
			right: 240px
			font-size: 20px
			color: #fff
			i
				margin-right: 10px
				transition: 0.16s
				cursor: pointer
			i:hover
				color: $primary-color
		.margin-top
			margin-top: 35px
// graph
.graph
	.quit-rate
		.df
			padding-left: 190px
			a
				color: #546e7a
				margin-right: 20px
				margin-top: 25px
		p
			margin-top: 50px
			font-size: 20px
			margin-bottom: 50px

.kj
	.ylo
		color: $primary-color
		margin-left: 10px
.like
	p
		margin-top: 50px
		font-size: 20px
		margin-bottom: 50px

	img
		width: 20px
		margin-right: 20px
		margin-left: 10px	
		cursor: pointer
	input
		width: 100%
		border: none
		background: #fff
		padding: 50px 10px
			


