$primary-color: #ffd740
$lite-blue: #28c8c6


*
	box-sizing: border-box

body
	padding: 0
	margin: 0
	font-family: 'Roboto Condensed', sans-serif
	background: #f5f5f5	
	color: #6e767a
	height: 0
h1
	margin: 0


.hero-section
	position: relative
	background-size: cover
	background-position: center, center
	.overlay
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: rgba(38, 50, 56, 0.71)
		width: 100%
		height: 100%
	.hero
		.content
			.icons
				display: inline-block
				margin: 0
				float: right
				margin-top: 60px
				i
					font-size: 20px
					margin-right: 35px
					cursor: pointer
				i:hover
					color: $primary-color
			.bottom
				margin-top: 50%
				.right
					// float: right
					text-align: right
				h3
					display: inline-block
					
				img
					width: 40px



		h1
			margin: 0
			display: inline-block
			color: $primary-color
			margin-top: 35px
			span
				font-size: 20px
				color: #fff
					cursor: pointer

.hero-section .hero .content h2
	position-absolute
	top: 50%
	// left: 50%
	// transform: translate(-50%, -50%)
	font-size: 40px
	margin: 0
	color: #fff
	text-transform: uppercase
	text-align: center
	span
		font-size: 20px


// about-me

.about-me
	.padding
		padding: 100px 0
		padding-right: 25px
	p
		font-size: 18px
		a
			color: $primary-color
	h4
		color: $primary-color
		font-size: 25px
		margin-top: 35px
		margin-bottom: 35px



	.background
		background: $primary-color
		img
			width: 100%
		h1
			margin-bottom: 35px
			margin-top: 100px
			// padding-bottom: 15px
		.position
			position: relative
		.icons
			position: absolute
			bottom: 273px
			right: 240px
			font-size: 20px
			color: #fff
			i
				margin-right: 10px
				transition: 0.16s
				cursor: pointer
			i:hover
				color: $primary-color
		.margin-top
			margin-top: 35px
// graph
.graph
	.quit-rate
		padding-top: 100px 
		.df
			padding-left: 190px

			a
				color: #546e7a
				margin-right: 20px
				margin-top: 25px
		p
			margin-top: 50px
			font-size: 20px
			margin-bottom: 50px
.graph img
	width: 100%

.kj
	.ylo
		color: $primary-color
		margin-left: 10px
.like
	// display: flex
	.center
		text-align: center
		margin: auto
		// position: absolute
		// bottom: 0
	h2
		color: #000
		float: right
		border-bottom: 2px solid $primary-color
		// margin-bottom: 35px
		// padding-bottom: 20px
	p
		margin-top: 50px
		font-size: 20px
		margin-bottom: 50px

	img
		width: 20px
		margin-right: 20px
		margin-left: 10px	
		cursor: pointer
		// background: red
	input
		width: 100%
		border: none
		background: #fff
		padding: 50px 10px
		margin-top: 50px
	.left
		display: inline-block
		margin-top: 100px
		margin-bottom: 50px
	.right
		display: inline-block
		margin-top: 100px
		float: right
		// font-size: 16px
		margin-bottom: 50px
	.white-background
		background: #fff
		padding: 1px 25px
		margin-top: 50px
		span
			display: block
			float: right
			font-size: 16px
			color: #000
			margin-top: 40px
			


.foter
	background-color: #263238
	color: #fff
	padding: 100px 0
	h1
		font-weight: bold
		font-size: 40px
	span
		font-weight: bold
		color: $primary-color
		font-size: 40px
		margin: 0
	h3
		margin: 0
		margin-top: 7px
		margin-bottom: 30px
	i
		margin-right: 30px
		font-size: 25px
		color: #546e7a
	i:hover
		color: $primary-color

	input
		background-color: #263238
		border: 1px solid #4e595f
		border-radius: 3px
		padding: 7px 20px
		outline: 0
		display: block
		margin-bottom: 25px
	p
		color: #546e7a



@media (max-width: 480px)
 
	.about-me p
		padding: 0 10px

	.about-me p a
		padding-bottom: 2px

	.about-me h4
		padding: 0 10px

	.about-me .background .icons
		right: 165px 

	.graph .quit-rate .df
		display: none

	.like h2
		float: left