$primary-color: #ffd740
$lite-blue: #28c8c6


*
	box-sizing: border-box

body
	padding: 0
	margin: 0
	font-family: 'Roboto Condensed', sans-serif
	// background: red	
	height: 6000px
h1
	margin: 0

.hero-section	
	.hero
		height: 100vh
		color: #fff
		background-size: cover
		background-repeat: no-repeat
		.content2
			text-align: right
			.icons
				margin-top: 40px
				i
					font-size: 20px
					margin-right: 20px
					cursor: pointer
					transition: 0.16s

				i:hover
					color: $primary-color
			h1
				font-size: 45px
				margin-bottom: 35px
				margin-top: 430px
			p
				font-size: 18px
				margin-bottom: 50px

			button
				background: transparent
				border: none
				border-bottom: 2px solid $primary-color
				color: #fff
				font-size: 18px

		.content
			// text-align: center
			h2
				margin: 0
				color: $primary-color
				margin-top: 35px
				margin-bottom: 430px
			h1
				font-size: 45px
				margin-bottom: 35px

			p
				font-size: 18px
				margin-bottom: 50px

			button
				background: transparent
				border: none
				border-bottom: 2px solid #fff
				color: $primary-color
				font-size: 18px

// what-i-can-do



.hero-section2
	background: $primary-color
	height: 100vh

.what-i-can-do
	background: $primary-color
	// height: 100vh
	color: #263238
	padding: 100px 0 
	h1
		margin-bottom: 35px
	.position
		position: relative
	.icons
		position: absolute
		bottom: 155px
		right: 170px
		font-size: 20px
		color: #fff
		i
			margin-right: 10px
			transition: 0.16s
			cursor: pointer

		i:hover
			color: $primary-color
	.margin-top
		margin-top: 35px
.what
	h1
		font-size: 30px
		border-bottom: 3px solid #fff
		width: 40%
.skills
	margin-bottom: 50px
	.skill
		margin-bottom: 95px
	img
		// display: inline-block
		vertical-align: bottom
		margin-right: 20px
	.paragraph
		display: inline-block
	p
		display: inline-block
	h4
		// display: inline-block
		margin: 0
		margin-bottom: 10px
		font-size: 18px

.timeline
	height: 895px
	background-position: center, center
	position: relative
	color: #fff
	.overlay
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: rgba(38, 50, 56, 0.95)
		h4
			color: $primary-color
			font-size: 30px
			border-bottom: 3px solid #fff
			width: 20%
		h1
			position: absolute
			top: 50%
			left: 50%
			color: $primary-color
			font-size: 70px

